<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".EntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".option.restorable.RestorableTabActivity"
            android:label="Restorable-Tab" />
        <activity android:name=".option.restorable.RestorableActivity"
            android:label="Restorable" />
        <activity android:name=".option.restorable.NonRestorableActivity"
            android:label="Non-Restorable" />
        <activity android:name=".option.persisted.PersistedActivity"
            android:label="Persisted" />
        <activity android:name=".option.stackoverflow.StackOverflowActivity"
            android:label="StackOverflow" />
        <activity android:name=".option.viewbinding.ViewBindFragmentActivity"
            android:label="AndroidViewBinding" />
        <activity android:name=".option.nofragment.NoFragmentActivity"
            android:label="No Fragment" />
    </application>

</manifest>